<!--
                    <li><a routerLink="/studentcompetence" routerLinkActive="active">Page 1-1</a></li>
                    <li><a routerLink="/chapter/3" routerLinkActive="active">Page 1-2</a></li>
                -->

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="show-mobile"></span>
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" [collapse]="isCollapsed">
            <ul class="nav navbar-nav col-sm-4">
                <li dropdown>
                    <a dropdownToggle id="navCompetences"></a>
                    <ul dropdownMenu>
                        <span>
                            Bla
                        </span>
                        <li *ngFor="let chapter of chapters"
                            id="chapter{{chapter._id}}"><a>{{chapter.name}}</a></li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navFoerderplan"></a>
                    <ul dropdownMenu>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navMyCompetences"></a>
                    <ul dropdownMenu>
                    </ul>
                </li>
            </ul>
            <span class="nav navbar-nav col-sm-4 center">
                <img src="../../images/logo.png"/>
            </span>
            <ul class="nav navbar-nav navbar-right col-sm-4">
                <li dropdown>
                    <a dropdownToggle id="navLogout"></a>
                    <ul dropdownMenu>
                        <li>
                            <a (click)="logout()">logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>